@font-face {
    font-family: l_gothic;
    src: url("../fonts/leaguegothic-regular-webfont.ttf");
}
@font-face {
    font-family: gotham;
    src: url("../fonts/GothamBook.otf");
}
@font-face {
    font-family: proxima;
    src: url("../fonts/proxima_nova.otf");
}
@font-face {
    font-family: montserrat_regular;
    src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
    font-family: montserrat_light;
    src: url("../fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: montserrat_hairline;
    src: url("../fonts/Montserrat-Hairline.otf");
}
@font-face {
    font-family: montserrat_bold;
    src: url("../fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: sj;
    src: url("../fonts/Slim Joe.otf");
}
@font-face {
    font-family: myra;
    src: url("../fonts/Myra 4F Caps Bold.otf");
}
@font-face {
    font-family: lora;
    src: url("../fonts/Lora-Regular.ttf");
}

@font-face {
    font-family: montserrat_bold;
    src: url("montserrat/Montserrat-Bold.otf");
}

@font-face {
    font-family: montserrat_regular;
    src: url("montserrat/Montserrat-Regular.otf");
}

@font-face {
    font-family: montserrat_hairline;
    src: url("montserrat/Montserrat-Hairline.otf");
}

@font-face {
    font-family: alternategot;
    src: url("alternategot.ttf");
}

@font-face {
    font-family: Neou;
    src: url("Neou-Bold.otf");
}

@font-face {
    font-family: l_gothic;
    src: url("leaguegothic-regular-webfont.ttf");
}

@font-face {
    font-family: bj;
    src: url("BJSJ/BIG JOHN.otf"), url("BJSJ/BIG JOHN.eot");
}

@font-face {
    font-family: sj;
    src: url("BJSJ/Slim Joe.otf");
}

@font-face {
    font-family: great_primer;
    src: url("FeGPrm27C.otf");
}

@font-face {
    font-family: Arial;
    src: url("GothamBook.ttf");
}