#home {
    background: url("../images/nrg_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 100px);
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 13vh;
    padding-bottom: 13vh;
}

#home .content-middle {
    background: rgba(0,0,0,0.5);
    padding: 30px 50px 50px 50px;
}

#home .content-middle h1 {
    font-size: 50px;
    margin-bottom: 25px;
}

#home .content-middle p {
    font-size: 20px;
}

#team {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nano.jpg");
}

#robots {
    background-image: url("../images/qnc.jpg");
}

#events {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nano.jpg");
}

#sponsors {
    background-image: url("../images/qnc.jpg");
}

#contact {
    background-image: url("../images/basement.jpg");
}
