main #team_section .leader_list li:nth-child(1) {
	background: url("../images/Team/Ryan Kearns.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .leader_list li:nth-child(2) {
	background: url("../images/Team/Jeffrey_dEon.JPG") no-repeat center center;
	background-size: cover;
}

main #team_section .leader_list li:nth-child(3) {
	background: url("../images/Team/Aravind_Ramaraju.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .leader_list li:nth-child(4) {
	background: url("../images/Team/Anthony_Silvaroli.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .leader_list li:nth-child(5) {
	background: url("../images/Team/evan.JPG") no-repeat center center;
	background-size: cover;
	margin-top: 60px;
}

main #team_section .leader_list li:nth-child(6) {
	background: url("../images/Team/Christopher_Ling.jpg") no-repeat center center;
	background-size: cover;
	margin-top: 60px;
}

main #team_section .leader_list li:nth-child(7) {
	background: url("../images/Team/Jatin_Patil.jpeg") no-repeat center center;
	background-size: cover;
	margin-top: 60px;
}