@import url("fonts.css");
@import url("id.css");

#logo, #logo:hover {
    float: left;
    width: 270px;
    height: 70px;
    margin-top: 25px;
    background: url("../images/logo.png") no-repeat center center;
    background-size: cover;
    border: none;
}

body {
    /* Size of nav bar */
    padding-top: 110px;     
}

section {
    margin-bottom: 15px;
}

.navbar {
    background-color: #222;
    border: none;
    min-height: 110px;
}

#navbar-btn {
    margin-top: 55px;
    font-size: 12px;
    font-family: gotham;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#navbar-btn:hover {
    border-bottom: 4px solid #2E78BA;
}

.title-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding-top: 80px;
    text-align: center;
    position: relative;
}

.row {
    margin: 0;
}

.row .inner {
    margin: 0 30px initial 30px;
}

footer {
    color: white;
    padding: 50px 0;
    background-color: #222;
    font-family: gotham;
    font-size: 12.5px;
    margin-top: 10px;
}

footer a:hover {
    text-decoration: none;
}

footer p {
    margin-bottom: 5px;
}

footer h3 {
    font-weight: bold;
    font-family: gotham;
    font-size: 13px;
    margin-top: 10px;
}

.content-middle {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-family: montserrat_bold;
    font-size: 100px;
    color: white;
}

h2 {
    font-family: montserrat_bold;
    font-size: 40px;
}

h3 {
    font-family: montserrat_bold;
    font-size: 30px;
}

h4 {
    font-family: montserrat_bold;
    font-size: 20px;
}

p {
    font-family: proxima;
    font-size: 18px;
}

.caption {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-family: gotham;
    color: #ddd;
    margin-right: 10px;
}

.profile {
    float: none;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 20px;
    display: inline-block;
}

.profile img {
    margin-right: 30px;
    margin-bottom: 10px;
    width: 100%;
    height: 170px;
    max-width: 200px;
    object-fit: cover;
}

.profile p {
    font-size: 15px;
}

.group {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

@media all and (max-width: 990px) {
    .robot h2 {
        text-align: center;
    }
    .robot img {
        height: 300px;
    }
}

.robot img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
}

.robot .inner {
    vertical-align: center;
}

.highlight {
    border: 2px dashed blue;
    padding: 10px;
}

.sponsor {
    display: inline-block;
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.sponsor span {
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
}

.sponsor:hover span {
    opacity: 0.1;
}