@import url("fonts.css");

#logo, #logo:hover {
    float: left;
    width: 270px;
    height: 70px;
    margin-top: 25px;
    background: url("../images/logo.png") no-repeat center center;
    background-size: cover;
    border: none;
}

body {
    /* Size of nav bar */
    padding-top: 110px;     
}

.navbar {
    background-color: #222;
    border: none;
    min-height: 110px;
}

#navbar-btn {
    margin-top: 55px;
    font-size: 12px;
    font-family: gotham;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#navbar-btn:hover {
    border-bottom: 4px solid #2E78BA;
}
