#options ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#options ul li {
	display: block;
	width: 200px;
	height: 30px;
	/*background: black;*/
}

#options ul li a {
	text-decoration: none;
	float: left;
	width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #000;
}