/* CSS DOCUMENT */

* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

@font-face {
	font-family: l_gothic;
	src: url("fonts/leaguegothic-regular-webfont.ttf");
}

@font-face {
	font-family: gotham;
	src: url("fonts/GothamBook.otf");
}

@font-face {
	font-family: proxima;
	src: url("fonts/proxima_nova.otf");
}

@font-face {
	font-family: montserrat_regular;
	src: url("fonts/Montserrat-Regular.otf");
}

@font-face {
	font-family: sj;
	src: url("fonts/Slim Joe.otf");
}
/*
body {
	overflow-x: hidden;
}*/


#loading_screen {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 1000;
}

#loading_screen #loading_bar {
	position: inherit;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 1%;
	background: #B63A3A;
}

header {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 95px;
	z-index: 100;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

header #header_wrapper {
	position: absolute;
	left: calc(50% - 440px);
	width: 880px;
	height: 70px;
}

header #logo {
	position: absolute;
	top: 12.5px;
	left: 0px;
	width: 270px;
	height: 70px;
}

header #logo a {
	float: left;
	text-decoration: none;
	width: 270px;
	height: 70px;
	/*color: #B63A3A;*/
	color: #CC0000;
	font-family: l_gothic;
	font-size: 50px;
	text-indent: 30px;
	line-height: 70px;
	background: url("images/logo.png") no-repeat center center;
	background-size: cover;
}

header nav {
	position: inherit;
	top: 25px;
	left: 280px;
	width: 600px;
	/*width: 750px;*/
	height: 70px;
}

header nav ul {
	width: 600px;
	height: 70px;
	margin-left: 20px;
}

header nav ul li a {
	float: left;
	text-decoration: none;
	width: 120px;
	height: 70px;
	text-align: center;
	line-height: 80px;
	font-family: gotham;
	font-size: 12px;
	font-weight: bold;
	color: #EEE;
	border-bottom: 3px solid transparent;
	-webkit-transition: color 0.2s, border-bottom 0.2s;
	-moz-transition: color 0.2s;
	-transition: color 0.2s;
}

header nav ul li a:hover {
	color: #FFF;
	border-bottom: 3px solid #DB2C3E;
}

header #header_wrapper #dd_button {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 40px;
	height: 40px;
	background: url("images/horizontal_lines.png") no-repeat center center;
	background-size: cover;
	display: none;
	cursor: pointer;
}

aside#ddnav {
	position: fixed;
	top: -200px;
	left: 0px;
	width: 100%;
	height: 200px;
	background: #222;
	z-index: 90;
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
	transition: top 0.5s;
}

aside#ddnav ul li {
	display: block;
	width: 100%;
	height: 40px;
}

aside#ddnav ul li a {
	display: block;
	width: auto;
	height: 40px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: #FFF;
	font-family: gotham;
	font-size: 12px;
	font-weight: bold;
}

#main_bg {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #FFF url("images/nrg_bg.jpg") no-repeat center center fixed;
	background-size: 110%;
	z-index: -2;
}

#intro_text {
	position: fixed;
	top: 0px;
	left: calc(50% - 250px);
	width: 500px;
	height: auto;
	font-family: gotham;
	color: #FFF;
	font-size: 20px;
	font-weight: 200;
	line-height: 150%;
	background: rgba(34,34,34,0.1);
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

#quote {
	font-size: 80px;
	color: #DB2C3E;
}

main {
	position: absolute;
	/*top: calc(70px + 55%);*/
	top: 100%;
	width: 100%;
	height: auto;
	background: #FFF;
	/*background: #CCC;*/
}

main h1 {
	font-family: proxima;
	font-size: 40px;
}

main p {
	margin: none;
}

main #all_posts {
	position: relative;
}

main #post_title {
	position: relative;
	top: 20px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	text-align: left;
}

main #post_date {
	position: relative;
	top: 25px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	margin-bottom: 35px;
	font-family: proxima;
	font-size: 17px;
}

main #post_box {
	position: relative;
	top: 20px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	font-family: proxima;
	font-size: 15px;
	margin-bottom: 40px;
	border-bottom: 1px solid #CCC;
}	

main #post_box p {
	margin-bottom: 10px;
}

#social_buttons {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 140px;
	height: 60px;
}

#social_buttons ul {
	width: 140px;
	height: 60px;
}

#social_buttons ul li a {
	float: left;
	width: 60px;
	height: 60px;
	background: blue;
	margin-left: 10px;
	border-radius: 100%;
}

#social_buttons ul li a#fb {
	background: url("images/fb_social.png") no-repeat center center;
	background-size: cover;
}

#social_buttons ul li a#twit {
	background: url("images/twit_social.png") no-repeat center center;
	background-size: cover;
}

footer {
	position: absolute;
	top: auto;
	left: 0px;
	width: 100%;
	height: 300px;
	background: #333;
}

footer #foot_content {
	position: absolute;
	top: 80px;
	left: calc(50% - 400px);
	width: 800px;
	height: 140px;
	border-bottom: 1px solid #727272;
	/*background: #CCC;*/
}

footer #foot_content li {
	display: inline-block;
	float: left;
	width: 200px;
	height: 200px;
	/*background: red;*/
}

footer #foot_content li h3 {
	font-family: gotham;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin-top: 10px;
}

footer #foot_content ul li ul#info_list {
	margin-top: 25px;
}

footer #foot_content ul li ul#info_list li {
	display: block;
	color: #DDD;
	height: 20px;
	font-family: gotham;
	font-size: 12.5px;
	text-align: center;
}

footer #foot_content ul li ul#info_list li a {
	text-decoration: none;
	color: #CCC;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-transition: color 0.2s;
}

footer #foot_content ul li ul#info_list li a:hover {
	color: #FFF;
}

footer #foot_content ul li ul#info_list li#i_l3 {
	margin-top: 10px;
}

footer #mobile_footer {
	/*display: none;*/
	position: absolute;
	width: 100%;
	height: 300px;
	background: red;

}

footer #mobile_footer ul#list1 {
	position: absolute;
	top: 0px;
	background: #CCC;
	width: 100%;
	height: 150px;
}

footer #mobile_footer ul#list2 {
	position: absolute;
	top: 150px;
	background: green;
	width: 100%;
	height: 150px;
}

footer #mobile_footer ul#list1 li {
	display: inline;
	width: 50%;
	float: left;
	text-align: center;
}

footer #mobile_footer ul#list2 li {
	display: inline;
	width: 50%;
	float: left;
	text-align: center;
}

#soc-ico {
	font-size: 17px;
}
/*
@media only screen and (max-width: 820px) {
	main #post_box, main #post_date, main #post_title {
		left: 10px;
		width: calc(100% - 20px);
	}
	#img_banner #banner_wrapper span {
		font-size: 80px;
	}
	header #header_wrapper {
		left: 0px;
		width: 100%;
	}
	header #logo a {
		text-indent: 13px;
	}
	header nav {
		display: none;
	}
	header #header_wrapper #dd_button {
		display: block;
	}

	footer #foot_content {
		display: none;
	}
}

@media only screen and (max-width: 475px) {
	#img_banner {
		/*height: 200px;
		height: 200px;
	}

	main {
		top: 270px;
	}

	#social_buttons {
		display: none;
	}

	footer {
		top: calc(1280px);
	}
}
*/