/* CSS DOCUMENT */

* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

@font-face {
	font-family: l_gothic;
	src: url("fonts/leaguegothic-regular-webfont.ttf");
}

@font-face {
	font-family: gotham;
	src: url("fonts/GothamBook.otf");
}

@font-face {
	font-family: proxima;
	src: url("fonts/proxima_nova.otf");
}

@font-face {
	font-family: montserrat_regular;
	src: url("fonts/Montserrat-Regular.otf");
}

@font-face {
	font-family: sj;
	src: url("fonts/Slim Joe.otf");
}

body {
	overflow-x: hidden;
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	background: #222;
}

header #header_wrapper {
	position: absolute;
	left: calc(50% - 410px);
	width: 820px;
	height: 70px;
}

header #logo {
	position: absolute;
	left: 0px;
	width: 200px;
	height: 70px;
}

header #logo a {
	float: left;
	text-decoration: none;
	width: 200px;
	height: 70px;
	color: #B63A3A;
	font-family: l_gothic;
	font-size: 50px;
	text-indent: 30px;
	line-height: 70px;
}

header nav {
	position: inherit;
	left: 200px;
	width: 600px;
	/*width: 750px;*/
	height: 70px;
}

header nav ul {
	width: 600px;
	height: 70px;
	margin-left: 20px;
}

header nav ul li a {
	float: left;
	text-decoration: none;
	width: 120px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-family: gotham;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}

#img_banner {
	position: absolute;
	top: 70px;
	left: 0px;
	width: 100%;
	height: 55%;
	background: #444 url("images/banner3.jpeg") no-repeat center center;
	background-size: cover;
}

main {
	position: absolute;
	top: calc(70px + 55%);
	width: 100%;
	height: 800px;
	/*background: black;*/
}

main h1 {
	font-family: proxima;
	font-size: 40px;
}

main p {
	margin: none;
}

main #all_posts {
	position: relative;
}

main #post_title {
	position: relative;
	top: 20px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	text-align: left;
}

main #post_date {
	position: relative;
	top: 25px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	margin-bottom: 35px;
	font-family: proxima;
	font-size: 17px;
}

main #post_box {
	position: relative;
	top: 20px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	font-family: proxima;
	font-size: 15px;
	margin-bottom: 40px;
	border-bottom: 1px solid #CCC;
}	

main #post_box p {
	margin-bottom: 10px;
}

#social_buttons {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 140px;
	height: 60px;
}

#social_buttons ul {
	width: 140px;
	height: 60px;
}

#social_buttons ul li a {
	float: left;
	width: 60px;
	height: 60px;
	background: blue;
	margin-left: 10px;
	border-radius: 100%;
}

#social_buttons ul li a#fb {
	background: url("images/fb_social.png") no-repeat center center;
	background-size: cover;
}

#social_buttons ul li a#twit {
	background: url("images/twit_social.png") no-repeat center center;
	background-size: cover;
}

@media only screen and (max-width: 840px) {
	main #post_box, main #post_date, main #post_title {
		left: 10px;
		width: calc(100% - 20px);
	}
	#img_banner #banner_wrapper span {
		font-size: 80px;
	}
	header #header_wrapper {
		left: 0px;
		width: 100px;
	}
	header nav {
		display: none;
	}
}

@media only screen and (max-width: 475px) {
	#img_banner {
		/*height: 200px;*/
		height: 200px;
	}

	main {
		top: 270px;
	}
}