/* CSS DOCUMENT */

* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

@font-face {
	font-family: l_gothic;
	src: url("fonts/leaguegothic-regular-webfont.ttf");
}

@font-face {
	font-family: gotham;
	src: url("fonts/GothamBook.otf");
}

@font-face {
	font-family: proxima;
	src: url("fonts/proxima_nova.otf");
}

@font-face {
	font-family: montserrat_regular;
	src: url("fonts/Montserrat-Regular.otf");
}

@font-face {
	font-family: montserrat_light;
	src: url("fonts/Montserrat-Light.otf");
}

@font-face {
	font-family: montserrat_hairline;
	src: url("fonts/Montserrat-Hairline.otf");
}

@font-face {
	font-family: montserrat_bold;
	src: url("fonts/Montserrat-Bold.otf");
}

@font-face {
	font-family: sj;
	src: url("fonts/Slim Joe.otf");
}

@font-face {
	font-family: myra;
	src: url("fonts/Myra 4F Caps Bold.otf");
}

@font-face {
	font-family: lora;
	src: url("fonts/Lora-Regular.ttf");
}

body {
	background: #000 url("images/nrg_bg.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body#robots {
	background: #FFF;
}
.row {
	background: #FFF;
}

#loading_screen {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #222;
	z-index: 1000;
}
/*	-webkit-animation: goAway 2s;
	-webkit-animation-delay: 6s;
}

@-webkit-keyframes goAway {
	0% {height: 100%; opacity: 1;}
	100% {height: 0%; opacity: 0;}
}
*/
#loading_screen #loading_bar {
	position: inherit;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 0.5%;
	background: #2E78BA;
}

#loading_item {
	position: absolute;
	top: calc(50% - 65.5px);
	left: calc(50% - 250px);
	width: 500px;
	height: 131px;
	background: url("images/logo.png") no-repeat center center;
	background-size: cover;
	-webkit-animation: load 2s;
	-moz-animation: load 2s;
	-animation: load 2s;
	-webkit-animation-iteration-count: 2;
	-moz-animation-iteration-count: 2;
	-animation-iteration-count: 2;
}

@-webkit-keyframes load {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes load {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes load {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

header {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 98px;
	z-index: 100;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

header #header_wrapper {
	position: absolute;
	left: calc(50% - 440px);
	width: 880px;
	height: 70px;
}

header #logo {
	position: absolute;
	top: 12.5px;
	left: 0px;
	width: 270px;
	height: 70px;
}

header #logo a {
	float: left;
	text-decoration: none;
	width: 270px;
	height: 70px;
	/*color: #B63A3A;*/
	color: #DB2C3E;
	font-family: l_gothic;
	font-size: 50px;
	text-indent: 30px;
	line-height: 70px;
	background: url("images/logo.png") no-repeat center center;
	background-size: cover;
}

header #logo a#robots {
	background: url("images/logo2.png") no-repeat center center;
	background-size: cover;
}

header nav {
	position: absolute;
	top: 25px;
	left: 280px;
	width: 600px;
	/*width: 750px;*/
	height: 70px;
}

header nav ul {
	width: 600px;
	height: 70px;
	margin-left: 20px;
}

header nav ul li a, header nav#robots ul li a {
	float: left;
	text-decoration: none;
	width: 120px;
	height: 70px;
	text-align: center;
	line-height: 80px;
	font-family: gotham;
	font-size: 12px;
	font-weight: bold;
	color: #EEE;
	border-bottom: 3px solid transparent;
	-webkit-transition: color 0.2s, border-bottom 0.2s;
	-moz-transition: color 0.2s;
	-transition: color 0.2s;
}

header nav ul li a:hover {
	color: #FFF;
	/*border-bottom: 3px solid #DB2C3E;*/
	border-bottom: 3px solid #2E78BA;
}

header nav ul li a#onlink {
	border-bottom: 3px solid #2E78BA;
}

header nav#robots ul li a {
	color: #333;
}

header nav#robots ul li a:hover {
	color: #000;
	border-bottom: 3px solid #333;
}

header nav#robots ul li a#onlink {
	border-bottom: 3px solid #333;
}

header #header_wrapper #dd_button {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 40px;
	height: 40px;
	background: url("images/horizontal_lines.png") no-repeat center center;
	background-size: cover;
	display: none;
	cursor: pointer;
}

header#posts {
	position: fixed;
	top: 0px;
	background: #222;
}

aside#ddnav {
	position: fixed;
	top: -200px;
	left: 0px;
	width: 100%;
	height: 200px;
	background: #222;
	z-index: 90;
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
	transition: top 0.5s;
}

aside#ddnav ul li {
	display: block;
	width: 100%;
	height: 40px;
}

aside#ddnav ul li a {
	display: block;
	width: auto;
	height: 40px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: #FFF;
	font-family: gotham;
	font-size: 12px;
	font-weight: bold;
}


#who_are_we {
	position: absolute;
	top: calc(50% - 100px);
	left: 0px;
	width: 100%;
	height: 300px;
	background: #111;
	color: #FFF;
}

#who_are_we #info_txt {
	position: absolute;
	width: 50%;
	height: 100%;
}

#who_are_we #info_txt h1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	text-align: center;
	font-family: gotham;
	font-size: 40px;
	line-height: 120px;
}

#who_are_we #info_txt p {
	position: absolute;
	top: 100px;
	left: 0px;
	width: calc(100% - 100px);
	height: 300px;
	font-family: montserrat_hairline;
	font-size: 25px;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

#who_are_we #info_pic {
	position: absolute;
	right: 0px;
	width: 50%;
	height: 100%;
	background: url("images/info_pic - Copy.jpg") no-repeat;
	background-size: cover;
}

#who_are_we #info_pic #f_o_more_button {
	position: absolute;
	top: calc(50% - 30px);
	left: 37.5%;
	width: 25%;
	height: 50px;
	background: #FFF;
	padding: 10px;
	text-align: center;
	line-height: 55px;
	color: #000;
	font-family: gotham;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	border: 3px solid #FFF;
	-webkit-transition: color 0.2s, background 0.2s;
	-moz-transition: color 0.2s, background 0.2s;
	transition: color 0.2s, background 0.2s;
}

#who_are_we #info_pic #f_o_more_button:hover {
	color: #FFF;
	background: #2F78B9;
}

#dark_page {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(33,33,33,0.5);
	z-index: 2000;
	display: none;
}

main {
	position: absolute;
	/*top: calc(70px + 55%);*/
	top: 98px;
	width: 100%;
	height: auto;
	background: #FFF;
	/*background: #CCC;*/
	/*opacity: 0;*/
}


main h1 {
	font-family: montserrat_bold;
	font-size: 40px;
}

main h2 {
	font-family: montserrat_regular;
	font-size:  30px;
}

main p {
	margin: none;
}

main #posts_banner, main #cont_banner {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 400px;
	background: url("images/qnc.jpg") no-repeat center center;
	background-size: cover;
	display: table;
	text-align: center;
}

main #cont_banner {
	background: url("images/nano.jpg") no-repeat center center;
	background-size: cover;
}

main #posts_banner span, main #cont_banner span {
	display: table-cell;
	vertical-align: middle;
	font-family: montserrat_bold;
	font-size: 100px;
	color: #FFF;
}

main .credits {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 300px;
	text-align: right;
	font-family: gotham;
	color: #EEE;
	padding: 5px;
}

main #all_posts {
	position: relative;
	top: 0px;
	left: calc(50% - 405px);
	width: 810px;
	height: auto;
}

main #all_posts .all_posts {
	position: relative;
}

main #all_posts .post_title {
	position: relative;
	top: 0px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	text-align: left;
	padding-top: 30px;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;*
	transition: color 0.2s;*
}

main #all_posts .post_title:hover {
	color: #2F78B9;
}

main #all_posts .post_teaser {
	position: relative;
	top: 5px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	font-family: montserrat_light;
	font-size: 25px;
}

main #all_posts .post_date {
	position: relative;
	top: 15px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	font-family: montserrat_light;
	font-size: 17px;
	padding-bottom: 30px;
	border-bottom: 1px solid #CCC;
}

main .post_view {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 15000;
	display: none;
}

main .post_view #close_button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 64px;
	height: 64px;
	background: url("images/close.png") no-repeat center center;
	cursor: pointer;
	z-index: 100000;
}

main .post_view .post_view_title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	font-family: montserrat_bold;
}

main .post_view .post_view_date {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	font-family: montserrat_light;
}

main .post_view .post_view_content {
	position: absolute;
	top: 200px;
	left: calc(50% - 400px);
	width: 800px;
	height: calc(100% - 250px);
	font-family: lora;
	font-size: 17px;
	line-height: 30px;
	overflow-y: scroll;
}

main .post_view .post_view_content p {
	margin-top: 15px;
}

/*
main #post_box {
	position: relative;
	top: 20px;
	left: calc(50% - 400px);
	width: 800px;
	height: auto;
	font-family: proxima;
	font-size: 15px;
	margin-bottom: 40px;
	border-bottom: 1px solid #CCC;
	background: green;
}
*/
main #post_box p {
	margin-bottom: 10px;
}

main .choice_list ul li a {
	float: left;
	text-decoration: none;
	width: 50%;
	background: red;
	height: 400px;
	text-align: center;
	line-height: 400px;
	color: #FFF;
	font-family: gotham;
	font-size: 50px;
	background: #2F78B9;
	transition: 0.2s;
}

main .choice_list ul li a:hover {
	background: #FFF;
	color: #2F78B9;
}

#all_robots {
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 400px);
	width: 800px;
	height: 200px;
}


main #robots_section, main #sponsors_section {
	position: relative;
	top: 50px;
	left: calc(50% - 520px);
	width: 1040px;
	height: 500px;
}

main #robots_section #emma {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 250px;
	height: 250px;
	background: url("images/emma.jpg") no-repeat center center;
	background-size: cover;
	cursor: pointer;
}

main #robots_section #emma_txt {
	position: absolute;
	top: 10px;
	left: 310px;
	width: 730px;
	height: 250px;
	font-family: proxima;
	font-size: 17px;
}

main #robots_section #robots_list, main #sponsors_section #sponsors_list {
	position: absolute;
	top: 0px;
	left: calc(50% - 520px);
	width: 1040px;
	height: 300px;
}

main #sponsors_section #sponsors_list {
	top: 0px;
}

main #sponsors_section #sponsors_title h1 {
	position: absolute;
	margin-top: 775px;
	width: 100%;
	text-align: center;
}

main #sponsors_section #sponsors_info {
	position: absolute;
	margin-top: 850px;
	font-family: proxima;
	line-height: 23px;
	width: 80%;
	height: 150px;
	margin-left: 10%;
}

main #robots_section #robots_list ul li, main #sponsors_section #sponsors_list ul li {
	float: left;
	width: 250px;
	height: 250px;
	background: red;
	margin-left: 10px;
	font-family: gotham;
	font-weight: bold;
	font-size: 25px;
	color: #FFF;
	cursor: pointer;
}

main #sponsors_section #sponsors_list ul li a {
	float: left;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
}

main #sponsors_section #sponsors_list ul li a:hover {
	opacity: 0.05;
}

main #robots_section #robots_list ul li span, main #robots_section #emma span {
	position: absolute;
	top: 210px;
	width: 250px;
	height: 40px;
	background: #333;
	line-height: 40px;
	text-align: center;
	-webkit-transition: top 0.2s, height 0.2s, width 0.2s, line-height 0.2s, color 0.2s;
	-moz-transition: top 0.2s, height 0.2s, width 0.2s, line-height 0.2s, color 0.2s;
	transition: top 0.2s, height 0.2s, width 0.2s, line-height 0.2s, color 0.2s;
}

main #robots_section #emma span {
	top: 210px;
	width: 250px;
	color: #FFF;
	font-family: gotham;
	font-size: 25px;
	font-weight: bold;
}

main #robots_section #robots_list ul li:hover span {
	top: 0px;
	height: 250px;
	line-height: 250px;
	color: #2F78B9;
}

main #robots_section #emma:hover span {
	color: #2F78B9;
}

main #robots_section #robots_list ul li#michelle {
	background: url("images/michelle.png") no-repeat center center;
	background-size: 100%;
}

main #robots_section #robots_list ul li#sam {
	background: url("images/sam.jpg") no-repeat center center;
	background-size: 100%;
}

main #robots_section #robots_list ul li#saw {
	background: url("images/saw.jpg") no-repeat center center;
	background-size: 100%;
}

main #robots_section #robots_list ul li#maya {
	background: #000 url("images/maya.jpg") no-repeat center center;
	background-size: 75%;
}

main #sponsors_section #sponsors_list ul li:nth-child(1) {
	background: #FFF url("images/sponsors/Agilent_Technologies-Logo.png") no-repeat center center;
	background-size: 100%;
}

main #sponsors_section #sponsors_list ul li:nth-child(2) {
	background: #FFF url("images/sponsors/ECE_Logo.png") no-repeat center center;
	background-size: 50%;
}

main #sponsors_section #sponsors_list ul li:nth-child(3) {
	background: #FFF url("images/sponsors/mme_logo.jpg") no-repeat center center;
	background-size: 70%;
}

main #sponsors_section #sponsors_list ul li:nth-child(4) {
	background: #FFF url("images/sponsors/icf_logo_thin.png") no-repeat center center;
	background-size: 120%;
}

main #sponsors_section #sponsors_list ul li:nth-child(5) {
	background: #FFF url("images/sponsors/mef.png") no-repeat center center;
	background-size: 80%;
}

main #sponsors_section #sponsors_list ul li:nth-child(6) {
	background: #FFF url("images/sponsors/nova wafers.png") no-repeat center center;
	background-size: 100%;
}

main #sponsors_section #sponsors_list ul li:nth-child(7) {
	background: #FFF url("images/sponsors/SFF.jpg") no-repeat center center;
	background-size: 80%;
}

main #sponsors_section #sponsors_list ul li:nth-child(8) {
	background: #FFF url("images/sponsors/WaterlooLogo.gif") no-repeat center center;
	background-size: 100%;
}

main #sponsors_section #sponsors_list ul li:nth-child(9) {
	background: #FFF url("images/sponsors/engsoc.jpg") no-repeat center center;
	background-size: 100%;
	margin-left: 270px;	
}

main #sponsors_section #sponsors_list ul li:nth-child(10) {
	background: #FFF url("images/sponsors/weef.png") no-repeat center center;
	background-size: 100%;
}

#michelle_info {
	position: fixed;
	top: calc(50% - 175px);
	left: calc(50% - 375px);
	width: 750px;
	height: 350px;
	background: #FFF;
	box-shadow: 0px 0px 50px #000;
	z-index: 2001;
	display: none;
}

#michelle_info #robot_title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	background: #333;
	text-align: center;
	line-height: 75px;
	color: #FFF;
	font-family: proxima;
	font-size: 25px;
}

#michelle_info #robot_info_close {
	position: absolute;
	top: 12.5px;
	right: 12.5px;
	width: 50px;
	height: 50px;
	background: url("images/close2.png") no-repeat center center;
	background-size: cover;
	cursor: pointer;
}

#michelle_info #robot_pic {
	position: absolute;
	top: 75px;
	left: 5px;
	width: 275px;
	height: 275px;
	background: url("images/michelle.png") no-repeat center center;
	background-size: 100%;
}

#michelle_info #robot_info {
	position: absolute;
	top: 75px;
	left: 280px;
	width: 460px;
	height: 265px;
	font-family: proxima;
	font-size: 15px;
	padding: 5px;
}

#sam_info {
	position: fixed;
	top: calc(50% - 175px);
	left: calc(50% - 375px);
	width: 750px;
	height: 350px;
	background: #FFF;
	box-shadow: 0px 0px 50px #000;
	z-index: 2001;
	display: none;
}

#sam_info #robot_title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	background: #333;
	text-align: center;
	line-height: 75px;
	color: #FFF;
	font-family: proxima;
	font-size: 25px;
}

#sam_info #robot_info_close {
	position: absolute;
	top: 12.5px;
	right: 12.5px;
	width: 50px;
	height: 50px;
	background: url("images/close2.png") no-repeat center center;
	background-size: cover;
	cursor: pointer;
}

#sam_info #robot_pic {
	position: absolute;
	top: 75px;
	left: 0px;
	width: 275px;
	height: 275px;
	background: url("images/sam.jpg") no-repeat center center;
	background-size: 100%;
}

#sam_info #robot_info {
	position: absolute;
	top: 75px;
	left: 280px;
	width: 460px;
	height: 265px;
	font-family: proxima;
	font-size: 15px;
	padding: 5px;
}

#saw_info {
	position: fixed;
	top: calc(50% - 175px);
	left: calc(50% - 375px);
	width: 750px;
	height: 350px;
	background: #FFF;
	box-shadow: 0px 0px 50px #000;
	z-index: 2001;
	display: none;
}

#saw_info #robot_title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	background: #333;
	text-align: center;
	line-height: 75px;
	color: #FFF;
	font-family: proxima;
	font-size: 25px;
}

#saw_info #robot_info_close {
	position: absolute;
	top: 12.5px;
	right: 12.5px;
	width: 50px;
	height: 50px;
	background: url("images/close2.png") no-repeat center center;
	background-size: cover;
	cursor: pointer;
}

#saw_info #robot_pic {
	position: absolute;
	top: 75px;
	left: 5px;
	width: 275px;
	height: 275px;
	background: url("images/saw.jpg") no-repeat center center;
	background-size: 100%;
}

#saw_info #robot_info {
	position: absolute;
	top: 75px;
	left: 280px;
	width: 460px;
	height: 265px;
	font-family: proxima;
	font-size: 15px;
	padding: 5px;
}

#maya_info {
	position: fixed;
	top: calc(50% - 175px);
	left: calc(50% - 375px);
	width: 750px;
	height: 350px;
	background: #FFF;
	box-shadow: 0px 0px 50px #000;
	z-index: 2001;
	display: none;
}

#maya_info #robot_title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	background: #333;
	text-align: center;
	line-height: 75px;
	color: #FFF;
	font-family: proxima;
	font-size: 25px;
}

#maya_info #robot_info_close {
	position: absolute;
	top: 12.5px;
	right: 12.5px;
	width: 50px;
	height: 50px;
	background: url("images/close2.png") no-repeat center center;
	background-size: cover;
	cursor: pointer;
}

#maya_info #robot_pic {
	position: absolute;
	top: 75px;
	left: 0px;
	width: 275px;
	height: 275px;
	background: #000 url("images/maya.jpg") no-repeat center center;
	background-size: 100%;
}

#maya_info #robot_info {
	position: absolute;
	top: 75px;
	left: 280px;
	width: 460px;
	height: 265px;
	font-family: proxima;
	font-size: 15px;
	padding: 5px;
}

main #contact_section, main #team_section, main #event_section {
	position: relative;
	top: 50px;
	left: calc(50% - 520px);
	width: 1040px;
	height: 700px;
}

main #contact_section h1, main #team_section h1 {
	margin-top: 50px;
}

main #contact_section h1:nth-child(1), main #team_section h1:nth-child(1) {
	margin-top: 0px;
}

main #contact_section p, main #team_section p {
	margin: 20px;
	font-family: proxima;
	margin-bottom: 5px;
}

main #contact_section a, main #contact_section a {
	margin-left: 20px;
	font-family: proxima;
}

main #contact_section a:nth-child(1), main #team_section a:nth-child(1) {
	margin-left: 0px;
}

main #contact_section #mailing_address p {
	margin-top: 0px;
}

main #contact_section #mailing_address p:nth-child(1) {
	margin-top: 20px;
}

main #contact_section #contact_map {
	position: absolute;
	top: 0px;
	right: 0px;
}

main #team_section .exec_list li {
	width: 75%;
	margin-left: 12.5%;
	height: 170px;
	margin-top: 20px;
}

main #team_section .exec_list li .execl_wrapper {
	width: 100%;
	height: 170px;
}

main #team_section .exec_list li .execl_wrapper .member_pic {
	top: 0px;
	left: 0px;
	width: 150px;
	height: 170px;
}

main #team_section .exec_list li .execl_wrapper #scott {
	background: url("images/Team/Scott_Wheeler.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .exec_list li .execl_wrapper #mayuran {
	background: url("images/Team/Mayuran Saravanapavanantham.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .exec_list li .execl_wrapper h3 {
	position: relative;
	margin-left: 170px;
	margin-top: -120px;
	font-family: proxima;
}

main #team_section .exec_list li .execl_wrapper p {
	margin-top: 0px;
	margin-left: 170px;
}

main #team_section .exec_list li .execl_wrapper p#role {
	font-style: italic;
}

/* team lists */

main #team_section .team_lists {
	width: 100%;
	height: 2850px;
	margin-top: 30px;
	/*background: red;*/
}

main #team_section .team_lists h2 {
	margin-top: 20px;
	text-align: center;
}

main #team_section .team_lists .teams_ul {
	width: 100%;
	height: 300px;
	/*background: green;*/
}

main #team_section .team_lists #software {
	height: 175px; /* one row */
}

main #team_section .team_lists #team_leaders, main #team_section .team_lists #saw2, main #team_section .team_lists #sam2,
main #team_section .team_lists #michelle2, main #team_section .team_lists #maya2, main #team_section .team_lists #business  {
	height: 526px; /* three rows */
}

main #team_section .team_lists #sam2, main #team_section .team_lists #controls, main #team_section .team_lists #marketing {
	height: 700px; /* four rows */
}

main #team_section .team_lists #team_leaders li:nth-child(1) .pic {
	background: url("images/Team/Isaac Harris.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #team_leaders li:nth-child(2) .pic {
	background: url("images/Team/Jeffrey_dEon.JPG") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #team_leaders li:nth-child(3) .pic {
	background: url("images/Team/Aravind_Ramaraju.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #team_leaders li:nth-child(4) .pic {
	background: url("images/Team/Anthony_Silvaroli.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #team_leaders li:nth-child(5) .pic {
	background: url("images/Team/Christopher_Ling.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #team_leaders li:nth-child(6) .pic {
	background: url("images/Team/Jatin_Patil.jpeg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #maya2 li:nth-child(1) .pic {
	background: url("images/Team/Isaac Harris.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #maya2 li:nth-child(2) .pic {
	background: url("images/Team/Ryan Kearns.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #maya2 li:nth-child(3) .pic {
	background: url("images/Team/Thomas Storwick.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #maya2 li:nth-child(4) .pic {
	background: url("images/Team/Eric_Koop.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #maya2 li:nth-child(5) .pic {
	background: url("images/Team/Bill Chen.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #maya2 li:nth-child(6) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #saw2 li:nth-child(1) .pic {
	background: url("images/Team/Jeffrey_dEon.JPG") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #saw2 li:nth-child(2) .pic {
	background: url("images/Team/Mayuran Saravanapavanantham.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #saw2 li:nth-child(3) .pic {
	background: url("images/Team/Max_Hamilton.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #saw2 li:nth-child(4) .pic {
	background: url("images/Team/Tina Wu.jpg") no-repeat center center;
	background-size: cover;
}


main #team_section .team_lists #saw2 li:nth-child(5) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #saw2 li:nth-child(6) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #sam2 li:nth-child(1) .pic {
	background: url("images/Team/Aravind_Ramaraju.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #sam2 li:nth-child(2) .pic {
	background: url("images/Team/Christopher_Ling.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #sam2 li:nth-child(3) .pic {
	background: url("images/Team/Scott_Wheeler.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #sam2 li:nth-child(4) .pic {
	background: url("images/Team/Vyshakh Sanjeev.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #sam2 li:nth-child(5) .pic {
	background: url("images/Team/Manasa Kaniselvan.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #sam2 li:nth-child(6) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #sam2 li:nth-child(7) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #michelle2 li:nth-child(1) .pic {
	background: url("images/Team/Anthony_Silvaroli.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #michelle2 li:nth-child(2) .pic {
	background: url("images/Team/Edward Jin.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #michelle2 li:nth-child(3) .pic {
	background: url("images/Team/Jatin_Patil.jpeg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #michelle2 li:nth-child(4) .pic {
	background: url("images/Team/Ben Luft.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #michelle2 li:nth-child(5) .pic {
	background: url("images/Team/Mary Chen.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #michelle2 li:nth-child(6) .pic {
	background: url("images/Team/David Rousso.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #controls li:nth-child(1) .pic {
	background: url("images/Team/evan.JPG") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #controls li:nth-child(2) .pic {
	background: url("images/Team/Addison Keizer.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #controls li:nth-child(3) .pic {
	background: url("images/Team/Tammy_Liu.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #controls li:nth-child(4) .pic {
	background: url("images/Team/sadman kazi.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #controls li:nth-child(5) .pic {
	background: url("images/Team/Christopher_Ling.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #controls li:nth-child(6) .pic {
	background: url("images/Team/Sahibjot Saggu.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #controls li:nth-child(7) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #controls li:nth-child(8) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #business li:nth-child(1) .pic {
	background: url("images/Team/Christopher_Ling.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #business li:nth-child(2) .pic {
	background: url("images/Team/Jatin_Patil.jpeg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #business li:nth-child(3) .pic {
	background: url("images/Team/Edward Jin.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #business li:nth-child(4) .pic {
	background: url("images/Team/Tina Wu.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #business li:nth-child(5) .pic {
	background: url("images/Team/Vyshakh Sanjeev.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #business li:nth-child(6) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #marketing li:nth-child(1) .pic {
	background: url("images/Team/Jatin_Patil.jpeg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #marketing li:nth-child(2) .pic {
	background: url("images/Team/Syed Hammad Hasan.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #marketing li:nth-child(3) .pic {
	background: url("images/Team/Christopher_Ling.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #marketing li:nth-child(4) .pic {
	background: url("images/Team/Aravind_Ramaraju.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #marketing li:nth-child(5) .pic {
	background: url("images/Team/Vyshakh Sanjeev.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #marketing li:nth-child(6) .pic {
	background: url("images/Team/Thomas Storwick.jpg") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists #marketing li:nth-child(7) .pic {
	background: url("images/Team/avatar.png") no-repeat center center;
	background-size: cover;
}

main #team_section .team_lists .teams_ul li .name {
	margin-left: 150px;
	margin-top: -103px;
	font-family: proxima;
}

main #team_section .team_lists .teams_ul li .extra_desc {
	margin-left: 150px;
	margin-top: 8px;
	font-family: proxima;
	font-style: italic;
}

main #team_section .team_lists .teams_ul li {
	float: left;
	width: 498px;
	height: 133px;
	margin-top: 40px;
	background: #EEE;
	border: 1px solid #CCC;
	transition: 0.2s;
}

main #team_section .team_lists .teams_ul li:hover {
	background: #2E78BA;
	color: #FFF;
}

main #team_section .team_lists .teams_ul li:nth-child(odd) {
	margin-right: 20px;
}

main #team_section .team_lists .teams_ul li:nth-child(even) {
	margin-left: 20px;
}

main #team_section .team_lists .teams_ul li.last {
	margin-left: 269px;
}

main #team_section .team_lists .teams_ul li .pic {
	width: 133px;
	height: 133px;
	background: #000;
}

#social_buttons {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 140px;
	height: 60px;
}

#social_buttons ul {
	width: 140px;
	height: 60px;
}

#social_buttons ul li a {
	float: left;
	width: 60px;
	height: 60px;
	background: blue;
	margin-left: 10px;
	border-radius: 100%;
}

#social_buttons ul li a#fb {
	background: url("images/fb_social.png") no-repeat center center;
	background-size: cover;
}

#social_buttons ul li a#twit {
	background: url("images/twit_social.png") no-repeat center center;
	background-size: cover;
}

footer {
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	height: 300px;
	background: #222;
}

footer #foot_content {
	position: absolute;
	top: 80px;
	left: calc(50% - 400px);
	width: 800px;
	height: 140px;
	border-bottom: 1px solid #727272;
	/*background: #CCC;*/
}

footer #foot_content li {
	display: inline-block;
	float: left;
	width: 200px;
	height: 200px;
	/*background: red;*/
}

footer #foot_content li h3 {
	font-family: gotham;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin-top: 10px;
}

footer #foot_content ul li ul#info_list {
	margin-top: 25px;
}

footer #foot_content ul li ul#info_list li {
	display: block;
	color: #DDD;
	height: 20px;
	font-family: gotham;
	font-size: 12.5px;
	text-align: center;
}

footer #foot_content ul li ul#info_list li a {
	text-decoration: none;
	color: #CCC;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-transition: color 0.2s;
}

footer #foot_content ul li ul#info_list li a:hover {
	color: #FFF;
}

footer #foot_content ul li ul#info_list li#i_l3 {
	margin-top: 10px;
}

footer #dev_name {
	position: absolute;
	bottom: 30px;
	left: calc(50% - 200px);
	width: 400px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #FFF;
	font-family: proxima;
	font-size: 13px;
	font-weight: bold;
}

footer #dev_name a {
	color: #FFF;
}

/*
footer #mobile_footer {
	/*display: none;*/
	/*position: absolute;
	width: 100%;
	height: 300px;
	background: red;

}

footer #mobile_footer ul#list1 {
	position: absolute;
	top: 0px;
	background: #CCC;
	width: 100%;
	height: 150px;
}

footer #mobile_footer ul#list2 {
	position: absolute;
	top: 150px;
	background: green;
	width: 100%;
	height: 150px;
}

footer #mobile_footer ul#list1 li {
	display: inline;
	width: 50%;
	float: left;
	text-align: center;
}

footer #mobile_footer ul#list2 li {
	display: inline;
	width: 50%;
	float: left;
	text-align: center;
}

#soc-ico {
	font-size: 17px;
}
/*
@media only screen and (max-width: 820px) {
	main #post_box, main #post_date, main #post_title {
		left: 10px;
		width: calc(100% - 20px);
	}
	#img_banner #banner_wrapper span {
		font-size: 80px;
	}
	header #header_wrapper {
		left: 0px;
		width: 100%;
	}
	header #logo a {
		text-indent: 13px;
	}
	header nav {
		display: none;
	}
	header #header_wrapper #dd_button {
		display: block;
	}

	footer #foot_content {
		display: none;
	}
}

@media only screen and (max-width: 475px) {
	#img_banner {
		/*height: 200px;
		height: 200px;
	}

	main {
		top: 270px;
	}

	#social_buttons {
		display: none;
	}

	footer {
		top: calc(1280px);
	}
}
*/
